<h4 class="text-center">
    Get Info Api Url
</h4>
<hr>

<div class="container">
    <div class="row">
        <input [(ngModel)]="apiUrl" (keyup)="getInfo()" class="col-lg-6 col-md-8 col-sm-8 col-xs-8 center-block" type="text" placeholder="Api Url"
        />
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="div-content">
            <span class="col-lg-6 col-md-8 col-sm-8 col-xs-8 center-block">
                {{result}}
            </span>
        </div>
    </div>
</div>
<br>